span {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
}

h1 {
  color: green;
  font-family: "Roboto";
  font-style: normal;
}

p {
  font-family: Roboto;
  font-style: normal;
}

  
